<h1>About</h1>

<div class="well trans-box main-content">
<div class="row">
  <div class="col-md-6">
    <h2>Analyze Your Dreams</h2>
    <p>
      <span id="title">dREaMEMBER</span> is an app for you to analyze your dreams. Using definitions from the <a href="http://www.dreammoods.com/" target="_blank">Dream Moods Dictionary</a>, you can enter a word and receive an instant dream interpretation. This explanation will give you deeper insight into the significance of the symbols appearing in your dreams. 
    </p>
  </div>
  <div class="col-md-6">
    <h2>Record and Remember</h2>
    <p>
      Members can save dream dates, main themes and descriptions. This allows you to keep an ongoing diary of your dreams to review and analyze in the future. Through this continued self-investigation, you will gain a greater understanding of yourself and how your subconscious mind processes your daily life. <br>
      <a href="/signup" class="btn btn-success" ng-hide="isLoggedIn()">Sign up now!</a>
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h2>The Developer</h2>
    <p>
      Beth Ernsberger is a Seattle-based full-stack website developer who thrives on creative collaboration, learning about and designing websites with the latest technologies. When she's not in front of her computer, you might find her hiking/snowshoeing the trails around Seattle, at Wednesday trivia night with her friends, or East Coast Swing dancing at the Century Ballroom.
    </p>
  </div>
  <div class="col-md-6 text-center">
  <img src="app/images/pdx-beth.jpg" class="dev-img" />
</div>
</div>