<h1>About</h1>

<div class="well trans-box main-content">
<div class="row">
  <div class="col-md-6">
    <h2>Analyze</h2>
    <p>dREaMEMBER is an app for you to analyze your dreams. Using definitions from the <a href="http://www.dreammoods.com/">Dream Moods Dictionary</a>, you can enter a keyword and receive an instant interpretation. This explanation will give you deeper insight into your subconscious mind and what is happening in your life.
    </p>
  </div>
  <div class="col-md-6">
    <h2>Record and Remember</h2>
    <p>
    Members can log their dreams with the date, main theme and a description. This allows you to keep an ongoing diary of your dreams for you to review and analyze in the future. Through this continued self-investigation, you will gain a greater understanding of how your mind processes your daily life. <br>
    <a href="/signup" class="btn btn-success" ng-hide="isLoggedIn()">Sign up now!</a>
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h2>The Developer</h2>
  </div>
</div>
</div>