<h1>My Dreams</h1>

<div class="form-group"><br />
  <input type="text" class="form-control" id="search" placeholder="Search by Theme" ng-model="search">
</div>

<div class="well trans-box" ng-repeat="dream in dreams | filter:{theme:search} track by $index">
  <h3>{{dream.date | date:'MM/dd/yyyy' }} {{dream.theme}}</h3>
  <h4><a ng-href="/dreams/{{dream._id}}">View Dream Description</a></h4>
  <a ng-click="deleteDream(dream._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a><br>
</div>