body {
  font-family: 'Corben', cursive; 
}

h1 { 
  font-family: 'Corben', cursive; 
  font-weight: 700; 
  color: #3186CF;
  text-shadow: 2px 2px #16419E; 
}

legend {
  color: #3186CF;
}

.trans-box {
  background-color: rgba(245, 245, 245, 0.7);
}

.main-content {
  margin-top: 20px; 
}

.back {
  margin: 10px;
}

.su-btn {
  margin-bottom: 10px;
}

#video-controls { 
  width: 333px; 
  float: right;
  color: black; 
  padding: 4px 12px; 
  /*  margin: 24px 0; */
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 5px;
}
#video-controls a { 
  color: #3186CF; 
  text-decoration: underline; 
}

#title {
  font-size: 1.25 em;
}