body {
  font-family: 'Corben', cursive; 
  /*font-weight: 400;*/
  color: grey;
}

h1 { 
  font-family: 'Corben', cursive; 
  font-weight: 700; 
  color: #3186CF;
}

.blue-box {
  background-color: rgba(245, 245, 245, 0.5);
  /*background-color: #3186CF; */
  color: black; 
  padding: 4px 12px; 
  margin: 24px 0; 
  border: 1px solid;
  border-radius: 10px;
  /*opacity: 0.5;*/
}

#video-controls { width: 333px; float: right;}
#video-controls a { color: #3186CF; text-decoration: underline; }