body {
  font-family: 'Corben', cursive; 
  /*font-weight: 400;*/
/*  color: grey;*/
}

h1 { 
  font-family: 'Corben', cursive; 
  font-weight: 700; 
  color: #3186CF;
}

legend {
  color: #3186CF;
}

.trans-box {
  background-color: rgba(245, 245, 245, 0.7);
}

.main-content {
  margin-top: 25px;
}

.back {
  margin-top: 10px;
}

#video-controls { 
  width: 333px; 
  float: right;
  color: black; 
  padding: 4px 12px; 
  /*  margin: 24px 0; */
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 5px;
}
#video-controls a { 
  color: #3186CF; 
  text-decoration: underline; 
}